{% extends "main.html" %}
{% block body %}
<div class="container" id="main">

	<!-- <nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	  <p>ISSUE TRACKER SYSTEM</p>
	  {% if session['screen_name'] %} 
		<p class="navbar-text navbar-left">Welcome {{ session['screen_name'] }}</p>
	  {% endif %}
	    
	  </div>
	</nav> -->

	<form id="addIssue" method="POST" class="form-horizontal">
	  
	  <div class="form-group">
	    <label for="issueDescription" class="col-sm-2 control-label">Issue Description</label>
	    <div class="col-sm-10">
	      <input type="test" class="form-control" id="issueDescription" placeholder="Issue Description">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="department" class="col-sm-2 control-label">Department</label>
	    <div class="col-sm-10">
	        <select class="form-control" name="department" id="department">
			  <option value="Operation">Operation</option>
			  <option value="Finance">Finance</option>
			  <option value="Training">Training</option>
			  <option value="Recruitment">Recruitment</option>
			  <option value="Marketing">Marketing</option>
			  <option value="Sales">Sales</option>
		    </select>
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="department" class="col-sm-2 control-label">Priority</label>
	    <div class="col-sm-10">
	        <label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="low" value="Low"> Low
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="medium" value="Medium"> Medium
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="high" value="High"> High
			</label>
	    </div>
	  </div>

	  

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-success">Raise Issue</button>
	    </div>
	  </div>

	</form> <!-- End of addIssue form -->
</div> <!-- End of container -->

{% endblock %}