{% extends "main.html" %}
{% block body %}
<div class="container" id="main">

	<div id="navBar">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">

		    <div class="navbar-header">
		    	<p>ISSUE TRACKER SYSTEM</p>
		      
		    </div>

			  <div class="navbar-right">
				  {% if session['screen_name'] %}
				  	<p class="navbar-text navbar-left">Logged in as: {{ session['screen_name'] }} | <a href="/logout">Log out</a></p>
				  {% endif %}
			  </div>

		  </div><!-- /.container-fluid -->
		</nav>	
	</div>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	    	<div class="alert alert-warning alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  {{ message }}
			</div>
	      <!-- <p class="bg-danger" style="padding: 18px">{{ message }}</p> -->
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}

	<div>
		<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#addModel">Raise Issue</button>

		<hr>

		<div class="modal fade" id="addModel" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Issue Details</h4>
		      </div>
		      <div class="modal-body">
		        <form id="addIssue" method="POST" action="/raise_issue" class="form-horizontal">
	  
				  <div class="form-group">
				    <label for="issueDescription" class="col-sm-2 control-label">Issue Description</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="description" id="issueDescription" placeholder="Issue Description" required>
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="department" class="col-sm-2 control-label">Department</label>
				    <div class="col-sm-10">
				        <select class="form-control" name="department" id="department">
						  <option value="Operation">Operation</option>
						  <option value="Finance">Finance</option>
						  <option value="Training">Training</option>
						  <option value="Recruitment">Recruitment</option>
						  <option value="Marketing">Marketing</option>
						  <option value="Sales">Sales</option>
					    </select>
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="department" class="col-sm-2 control-label">Priority</label>
				    <div class="col-sm-10">
				        <label class="radio-inline">
						  <input type="radio" name="priority" id="low" value="Low"> Low
						</label>
						<label class="radio-inline">
						  <input type="radio" name="priority" id="medium" value="Medium"> Medium
						</label>
						<label class="radio-inline">
						  <input type="radio" name="priority" id="high" value="High"> High
						</label>
				    </div>
				  </div>
					<div class="modal-footer">

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-success">Raise Issue</button>
				     </div>
				</form> <!-- End of addIssue form -->
		      </div>

		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		{% if as_posted != "No record found" %}
			{% if session['user_status'] == "admin" %}
				<div id="dashboard" class="row">
					<div id="open_issues" class="col-md-6">

						<div class="panel panel-danger">
						  <div class="panel-heading">
						    <h3 class="panel-title">Open Issues</h3>
						  </div>
						  <div id="open" class="panel-body" ondrop="drop(event)" ondragover="allowDrop(event)">
						    <!--Cards of open issues-->
						  </div>
						</div>

					</div>

					<div id="closed_issues" class="col-md-6">
						<div class="panel panel-success">
						  <div class="panel-heading">
						    <h3 class="panel-title">Closed Issues</h3>
						  </div>
						  <div id="closed" class="panel-body" ondrop="drop(event)" ondragover="allowDrop(event)">
						    <!-- cards of closed issues -->
						  </div>
						</div>
					</div>
				</div> <!-- End of dashboard -->
			{% else %}
				<div id="dashboard" class="row">
					<div id="open_issues" class="col-md-6">

						<div class="panel panel-danger">
						  <div class="panel-heading">
						    <h3 class="panel-title">Open Issues</h3>
						  </div>
						  <div id="open" class="panel-body">
						    <!--Cards of open issues-->
						  </div>
						</div>

					</div>

					<div id="closed_issues" class="col-md-6">
						<div class="panel panel-success">
						  <div class="panel-heading">
						    <h3 class="panel-title">Closed Issues</h3>
						  </div>
						  <div id="closed" class="panel-body">
						    <!-- cards of closed issues -->
						  </div>
						</div>
					</div>
				</div> <!-- End of dashboard -->
			{% endif %}
		{% else %}
			<div>
				<div class="jumbotron">
				  <h1>Hello {{ session['screen_name'] }},</h1>
				  <p>Welcome!!!</p>
				  <p>To add an Issue click on the "Raise Issue botton above"</p>
				</div>
			</div>
		{% endif %}
		
	</div>

	
</div> <!-- End of container -->

{% endblock %}